name: Deploy to Aliyun OSS

on:
#  push:
#    branches: [ 'master' ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-path: dist
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Deploy to EoPages
        run: pnpm run build-web
        env:
          OSS_KEY_ID: ${{ secrets.EO_PAGES_TOKEN }}
